<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRMDemoSite Automation Suite">
    <listeners>
        <listener class-name="com.qa.OrangeHRMDemoSite.listeners.TestListener"></listener>
    </listeners>
    <test name="Employee Tests">
        <classes>
                <class name="com.qa.OrangeHRMDemoSite.test.loginTest"></class>
                <class name="com.qa.OrangeHRMDemoSite.test.employeeMgmtTest"></class>
                <class name="com.qa.OrangeHRMDemoSite.test.recruitementTest"></class>
<!--                <class name="com.qa.OrangeHRMDemoSite.test.leaveMgmtTest"></class>-->

        </classes>
    </test>
</suite>